@use './LogIn.module.scss';
@use '../../variables.module.scss';


.wrapper{
    color: white;
    @include variables.NightMediumBg;
    .left{
        .logInForm{
            .welcome{
                color: white;
            }
            .btn{
                color: white;
            }
            .floatLabel{
                @include variables.NightDarkBg;
                input{
                    color: white;
                }
            }
        }
        .forgottenPasswordContainer{
            .btn{
                color: white;
            }
        }
    }
    .right{
        @include variables.NightDarkBg;
    }
}