@use '../../variables.module.scss';
.wrapper{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0;
    position: relative;
    min-height: 500px;
    .left{
        position: absolute;
        width: 35%;
        height: 100%;
        @include variables.Center;
        top: 0;
        .logInForm{
            width: 80%;
            .welcome{
                font-size: 34px;
                font-weight: bold;
                text-align: center;
            }
            .btn{
                @include variables.Center;
                width: 100%;
                padding: 1rem 0;
                cursor: pointer;
                filter: grayscale(0.3);
                transition: .3s;
                outline: none;
                border: none;
                @include variables.PrimaryBg;
                border-radius: 25px;
                margin-top: 5%;
                border-radius: 10px;
                &:hover{
                    filter: grayscale(0);
                }
            }
            .errorBox{
                width: 100%;
                height: 30px;
                margin: 5% 0;
                @include variables.Center;
            }
            .floatLabel{
                border-radius: 10px;
                margin-top: 5%;
                width: 100%;
                height: 70px;
                @include variables.DayLightBg;
                display: flex;
                flex-direction: row;
                .eyeContainer{
                    width: 20%;
                    height: 100%;
                    @include variables.Center;
                    cursor: pointer;
                }
                .inputContainer{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    &:nth-of-type(1){
                        width: 80%;
                    }
                    input {
                        background: transparent;
                        border: none;
                        width: 100%;
                        height: 100%;
                        padding: 24px 16px 0 10px;
                        outline: 0;
                        font-size: 20px;
                        font-weight: medium;
                      }
                      label {
                        font-size: 22px;
                        padding: 0 12px;
                        color: #999;
                        pointer-events: none;
                        position: absolute;
                        transform: translate(0, 26px) scale(1);
                        transform-origin: top left;
                        transition: all 0.2s ease-out;
        
                      }
                      .active {
                        transform: translate(0, 12px) scale(0.75);
                      }
                    &:focus-within{
                        label{
                            transform: translate(0, 12px) scale(0.75);
                        }
                    } 
                }
                 
            }
        }
        .forgottenPasswordContainer{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .svg{
                width: 50%;
                margin: 0 auto 5vh;
            }
            .btn{
                margin-top: 5vh;
                @include variables.Center;
                width: 40%;
                padding: 1rem 0;
                cursor: pointer;
                filter: grayscale(0.3);
                transition: .3s;
                outline: none;
                border: none;
                @include variables.PrimaryBg;
                border-radius: 25px;
                margin-top: 5%;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
        
    }
    .right{
        position: absolute;
        top: 0;
        height: 100%; 
        border-radius: 25px 0 0 25px ;
        @include variables.NightDarkBg;
        @include variables.Center;
    }
}

@media (max-width: 1400px) {
    .wrapper{
        .right{
            .img{
                width: 60%;
            }
        }
        .left{
            .forgottenPasswordContainer{
                
                .btn{
                    width: 100%;
                }
            }
        }
    }
}