@use '../../variables.module.scss';

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    border-radius: 0;
    @include variables.Center;
    .backPanel{
        width: 100%;
        height: 100%;
        border-radius: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contentContainer{
        z-index: 5;
        width: 30%;
        aspect-ratio: 1 / 1.25;
        @include variables.DayMediumBg;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        .buttonContainer{
            width: 100%;
            height: 7.5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .img{
            height: 55%;
        }
        .descriptionContainer{
            height: 45%;
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            .button{
                color: white;
                padding: calc(9px + 0.390625vw) calc(22px + 0.390625vw); 
                cursor: pointer;
                filter: grayscale(0.3);
                transition: .3s;
                @include variables.PrimaryBg;
                border-radius: 15px;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
}


@media (max-width: 1100px) and (min-height: 600px) {
    .wrapper{
        .contentContainer{
            width: 40%;
        }
    }
}
@media (max-width: 900px) {
    .wrapper{
        .contentContainer{
            width: 50%;
        }
    }
}

@media (max-height: 600px) and (orientation: landscape){
    .wrapper{
        .contentContainer{
            width: 70%;
            aspect-ratio: 3 / 1;
            flex-direction: row;
            .buttonContainer{
                order: 3;
                width: 20%;
            }
            .img{
                height: auto;
                width: 30%;
            }
            .descriptionContainer{
                width: 50%;
                height: auto;
            }
        }
    }
}
@media (max-height: 600px) and (orientation: landscape) and (max-width: 1100px){
    .wrapper{
        .contentContainer{

            .descriptionContainer{
                width: 70%;
            }
        }
    }
}
@media (max-height: 600px) and (orientation: landscape) and (max-width: 900px){
    .wrapper{
        .contentContainer{
            aspect-ratio: 2.5 / 1;
        }
    }
}
